:root {
    --green-top: #254b5d;
    --green-top-hover: rgb(67, 93, 106);
    --green: #048A81;
    --green-lighter: #048A81;

    --light-gray: #cfddd7;
    --bg-gray: #fdfdfd;
    --bg-gray-darker: #f2f7f7;
    
    --th-gray: #e1eeed;
    --td-gray: #eff2f2;
}
  
html, body {
    background-color: var(--bg-gray);
}

.page-button {
    width: 11em;
    background-color: var(--green-lighter);
    border-color: var(--green-lighter);
}

#page {
    margin-left: 3em;
}