:root {
    --green-top: #254b5d;
    --green-top-hover: #2d6078;
    --green: #048A81;
    --green-lighter: #254b5d;
    --green-lightest: #4aa59f;

    --light-gray: #cfddd7;
    --bg-gray: #fdfdfd;
    --bg-gray-darker: #f2f7f7;
    
    --th-gray: #e1eeed;
    --td-gray: #eff2f2;
}
  
html, body {
    background-color: var(--bg-gray);
}

.page-button {
    width: 11em;
    background-color: var(--green-lighter);
    border-color: var(--green-lighter);
}

.page-button:hover {
    width: 11em;
    background-color: var(--green-top-hover);
    border-color: var(--green-top-hover);
}

#page {
    margin-left: 3em;
}

i {
    cursor: pointer;
}

a {
    color: var(--green-top);
}

a:hover {
    color: var(--bs-body-color);
}