#logo {
    height: 30px;
}

#genome-ref-input-container {
    background-color: var(--bg-gray-darker);
}

#homepage-reset, #homepage-clear-cache {
    background-color: white;
}

#homepage-reset:hover, #homepage-clear-cache:hover {
    background-color: var(--button-red);
}

#homepage-submit {
    background-color: var(--green-top);
    border-color: var(--green-top);
}

#homepage-submit:hover {
    background-color: var(--green-top-hover);
    border-color: var(--green-top-hover);
}

#top-navbar {
    background-color: var(--green-top) !important;
}

.home-button {
    width: 100%;
}

#homepage-dash-nav {
    border-radius: 10px;
}

.nav-item:hover {
    background-color: var(--bg-gray-darkest);
    border-radius: 10px;
}

.nav-link {
    color: var(--bs-body-color) !important;
    cursor: pointer;
}

.nav-pills .nav-link.active {
    color: white !important;
    background-color: var(--green-lightest);
}

.top-navbar-item {
    color: var(--bs-nav-link-color) !important;
}

.top-navbar-item.active {
    color: white !important;
}

#post-gwas-hdr {
    margin-bottom: 1em;
}

#genomic-interval-container {
    margin-bottom: 0.6em;
}

#genomic-interval-hdr {
    display: inline;
}

.sample-genomic-interval {
    color: var(--link-blue);
}

.sample-genomic-interval:hover {
    text-decoration: underline;
    cursor: pointer;
}

#reset-analyses-container {
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.banner {
    background-color: #214151; 
}

#demo-banner {
    border-bottom: 1px solid white;
}

#page {
    margin-left: 3em;
}
