#logo {
    height: 30px;
}

#genome-ref-input-container {
    background-color: var(--bg-gray-darker);
}

#homepage-reset, #homepage-clear-cache {
    background-color: white;
}

#homepage-reset:hover, #homepage-clear-cache:hover {
    background-color: #dc3545;
}

#homepage-submit {
    background-color: var(--green-top);
    border-color: var(--green-top);
}

#homepage-submit:hover {
    background-color: var(--green-top-hover);
    border-color: var(--green-top-hover);
}

#top-navbar {
    background-color: var(--green-top) !important;
}

.home-button {
    width: 100%;
}

.nav-link {
    color: var(--bs-body-color) !important;
}

.nav-pills .nav-link.active {
    color: #fff !important;
    background-color: var(--green-lightest);
}

.top-navbar-item {
    color: var(--bs-nav-link-color) !important;
}

.top-navbar-item.active {
    color: white !important;
}

#post-gwas-hdr {
    margin-bottom: 1em;
}

#genomic-interval-hdr {
    margin-bottom: 0.6em;
}