table tr td {
    vertical-align: top;
}

th:not(.dash-filter) {
    font-weight: bold !important;
    background-color: var(--th-gray) !important;
}

tr:nth-of-type(odd) td {
    background-color: var(--td-gray) !important;    
}

th, td {
    padding: 0.5em !important;
}

.page-number, .current-page {
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--font-size-base) !important;
}

.table-button {
    border: 1px solid var(--table-button-gray);
    background-color: transparent;
}

.table-button:hover {
    border: 1px solid var(--table-button-gray);
    background-color: var(--td-gray);
}