table tr td {
    vertical-align: top;
}

table tr td p, table tr td div p {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
}

table tr td div {
    text-align: right !important;
}

th:not(.dash-filter) {
    font-weight: bold !important;
    background-color: var(--th-gray) !important;
}

tr:nth-of-type(odd) td {
    background-color: var(--td-gray) !important;    
}

th, td {
    padding: 0.5em !important;
    font-family: sans-serif;
}

.page-number, .current-page {
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--font-size-base) !important;
}

.table-button {
    border: 1px solid var(--table-button-gray);
    background-color: transparent;
}

.table-button:hover {
    border: 1px solid var(--table-button-gray);
    background-color: var(--td-gray);
}

#text-mining-result-table th {
    text-align: center;
}

#text-mining-result-table table tr td div {
    text-align: left !important;
}

.dash-cell-value {
    overflow-y: hidden !important;
}

table tr td ul {
    text-align: left !important;
}

#lift-over-results-table, #coexpression-pathways {
    overflow-x: auto;
}