.form-check-input:checked {
    background-color: var(--green-lighter);
    border-color: var(--green-lighter);
}

.form-check-input:focus {
    border-color: var(--light-gray);
    box-shadow: 0 0 0 0.25rem var(--light-gray);
}

.rc-slider-dot-active, .rc-slider-handle {
    border-color: var(--green-lighter) !important;
}

.rc-slider-track {
    background-color: var(--green-lighter) !important;
}

#coexpression-parameter-slider-container, #template-parameter-slider-container {
    display: flex;
    justify-content: center;
}

#coexpression-parameter-slider, #template-parameter-slider {
    width: 95%;
}

#lift-over-overlap-table-filter {
    margin-bottom: -0.5em;
}