#coexpression-module-graph {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    border: 1px solid var(--table-button-gray);
}

#coexpression-module-graph-node-data {
    height: 100vh;
    background-color: var(--bg-gray-darker);
    border-right: 1px solid var(--table-button-gray);
    border-top: 1px solid var(--table-button-gray);
    border-bottom: 1px solid var(--table-button-gray);
    overflow: auto;
}