/* This ensures that the loading affordance is displayed at the top of the container div. 
   Otherwise, it will be displayed at the center of the container div. */
   
#coexpression-modules-pathway + div, 
#lift-over-results-table + div,
#text-mining-result-table + div,
#tf-enrichment-result-table + div {
    display: block !important;
    height: 0 !important;
    margin-top: 0;
    padding-top: 0;
}

.dash-default-spinner > div {
    background-color: var(--green-lighter) !important;
}