.analysis-intro {
    background-color: var(--bg-gray-darker);
    border-radius: 10px;
}

.analysis-intro p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

#lift-over-results-statistics {
    margin-bottom: 0;
    padding-bottom: 0;
}

#coexpression-table-stats {
    text-align: left;
}

.stats-icon {
    color: #254b5d;
}

.stats {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}