dash==2.9.1
dash_bootstrap_components==1.4.1
dash_cytoscape==0.3.0
gffutils==0.11.1
networkx>=2.8.7
pandas==1.5.1
dash_bio==1.0.2
pybind11==2.10.4
regex==2023.8.8
ftfy==6.1.1
scipy==1.11.2
pybedtools==0.9.1
rapidfuzz==3.2.0
python-dotenv==1.0.1
